html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;   
}
.wrapper {
  max-width: 500px;
  margin: 0 auto;   
  margin-top: 30px;
}
html, body { 
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;  
}
/*-------------heading----------------*/
.heading:after {
  content: "";
  display: block;
  clear: both;
}
h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}
h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.scores-container {
  float: right;
  display: flex;
}
.score__now, .score__best {
  position: relative;
  display: block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 55px;
  width: 90px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  margin-right: 4px;
  text-align: center;
}
.score__now:after, .score__best:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}
.score__now:after {
  content: "Score";
}
.score__best:after {
  content: "Best";
}
/*--------------------game------------------*/
.game-container {  
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
}
.massive-conteiner {
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2px;
}
.massive-row {  
  text-align: center;
  padding-top: 35px;
  width: 117px;
  height: 117px;
  background: #bbada0;
  font-size: 48px;
  font-weight: bold;
}